<div class="pb-16 text-center">
    <a href="{{ butik:shop }}" class="mb-12 block">
        <img class="mx-auto h-24" alt="Butik - a loveable ecommerece solution for Statamic V3" src="/vendor/butik/images/logo.svg">
        <p class="text-2xl mt-2">Visit shop</p>
    </a>
    <div class="text-md uppercase text-gray-600 space-x-3">
        <a class="hover:bg-gray-300 p-2 rounded" href="https://butik.dev" target="_blank" rel="noopener noreferrer">Butik Documentation</a>
        <a class="hover:bg-gray-300 p-2 rounded" href="{{ cp_url }}">Control Panel</a>
    </div>
</div>
