<div class="text-center mt-40">
    <a href="{{ butik:shop }}" class="mb-5 block">
        <img class="mx-auto h-12" alt="Butik - a loveable ecommerece solution for Statamic V3" src="/vendor/butik/images/logo.svg">
    </a>
    <div class="text-md text-gray space-x-2">
        <a class="hover:bg-gray-300 p-2 rounded" href="https://butik.dev" target="_blank" rel="noopener noreferrer">Documentation</a>
        <a class="hover:bg-gray-300 p-2 rounded" href="{{ cp_url }}">Control Panel</a>
    </div>
</div>
