<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="{{ mix src='css/site.css' }}">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap" rel="stylesheet">
        <script src="{{ mix src='/js/site.js' }}"></script>
    </head>
    <body class="leading-normal" x-data="{ showMobileNav: false }">

        <div class="max-w-6xl mx-auto">
            <header class="flex justify-between w-full py-8 px-5 md:py-10">
                <button class="flex lg:hidden items-center px-3 z-50" @click="showMobileNav = ! showMobileNav">
                    <svg x-show="! showMobileNav" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 12H21" stroke="#2D3748" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3 6H21" stroke="#2D3748" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3 18H21" stroke="#2D3748" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <svg x-show="showMobileNav" fill="currentColor" width="24" height="24" viewBox="0 0 20 20" x-cloak>
                        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd">
                        </path>
                    </svg>
                </button>
                <div class="flex items-baseline">
                    <a href="/" class=" lg:mr-10 z-50">
                        <img alt="Butik - a loveable ecommerece solution for Statamic V3" src="/vendor/butik/images/logo.svg">
                    </a>
                    <nav class="fixed flex flex-col inset-0 justify-center bg-white py-24 text-2xl text-dark lg:relative lg:flex lg:flex-row lg:py-0 lg:items-baseline lg:text-lg lg:space-x-8"
                         x-bind:class="{ 'hidden': ! showMobileNav }"
                         @click.away="showMobileNav = false"
                         x-cloak
                    >
                        {{ nav include_home="true" }}
                            <a href="{{ url }}" class="block w-full text-center py-2">
                                {{ title }}
                            </a>
                        {{ /nav }}
                    </nav>
                </div>
                <div class="px-2">
                    {{ livewire:butik.cart-icon }}
                </div>
            </header>
            <main class="mt-8 md:mt-12 px-6">
                {{ template_content }}
            </main>
        </div>

        <footer class="flex justify-center max-w-6xl mx-auto py-10">
            <div class="flex flex-wrap justify-center text-gray-600">
                <a class="mx-6 m2" href="#">Imprint</a>
                <a class="mx-6 m2" href="#">Shipping</a>
                <a class="mx-6 m2" href="#">Contact</a>
            </div>
        </footer>

        {{ livewire:scripts }}
    </body>
</html>
