<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="{{ mix src='css/site.css' }}">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap" rel="stylesheet">
        <script src="{{ mix src='/js/site.js' }}"></script>
    </head>
    <body class="leading-normal" x-data="{ showMobileNav: false }">

        <div class="max-w-6xl mx-auto">
            {{ partial:header}}

            <main class="my-8 md:my-12 px-6">
                {{ template_content }}
            </main>

        </div>

        {{ livewire:scripts }}
    </body>
</html>
